
<component-list
  @on-selection-change="handleSelectChange"
  @on-begin-component-edit="handleEdit"
  @on-sure-to-display="handlePush"
  :enableSelfDataLoad="enableSelfDataLoad"
  :enablePopPreview="instance.enablePopPreview"
  :miniMode="options.miniMode"
  :choosenItems="options.choosenItems"
  ref="component-list-demo"
>
  <template #filter="instance">
    <demo-filter
      :instance="instance"
      :extraFilter="filter"
      :options="filterOptions"
      :disableExtraFilter="disableExtraFilter"
    ></demo-filter>
  </template>
  <template #componentIntro="component">
    <p class="title">
      {{ component.intro.name }}
    </p>
    <div class="list-item-content">
      <span class="content-item">
       <b>商品价格: ¥ {{ component.intro.extraInfo.price }}</b> 
       <b class="content-item-product-type">商品类型: {{ component.intro.extraInfo.cellTypeName }}</b>
      </span>
      </span>
      <span class="content-item">
       <b>发布时间: {{ component.intro.editTime }}</b> 
      </span>
    </div>
  </template>
</component-list>
