.title {

  padding: 0;
  margin: 0;
  line-height: 36px;
  margin-bottom: 10px;
  border-bottom: 1px dashed lightgrey;
  font-weight: 600;
  color: #555555;
}

.list-item-content {
  display: flex;
  flex-direction: column;
  color: #555555;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  .com-list {
    // flex: 4;
    width: 500px;
  }
  .com-preview {
    flex: 1;
  }
}
