.title {

  padding: 0;
  margin: 0;
  line-height: 36px;
  margin-bottom: 10px;
  border-bottom: 1px dashed lightgrey;
  font-weight: 600;
  color: #555555;
}

.list-item-content {
  display: flex;
  flex-direction: column;
  color: #555555;
  margin-bottom: 10px;
  .content-item {
    width: 95%;
    display: inline-block;
    margin: 4px 8px;
    color: #555;
    b {
      margin-right: 10px;
      color: #909399;
      float: left;
    }
    .content-item-product-type{
      margin-left: 120px;
    }
    i {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 64%;
      float: left;
    }
  }
}


