
.c____100____component-previewer {
  position: absolute;
  top: 50px !important;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: #f4f6fc;
  padding: 10px;
  z-index: 2000;
  border-radius: 15px;
}
