
.preview {
    display: flex;
    flex: 1;
    position: relative;
    height: 100%;
    > div {
        flex: 1;
    }
}

// .c____100____component-previewer {
//   position: absolute;
//   top: 50px !important;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   display: block;
//   background: #f4f6fc;
//   padding: 10px;
//   z-index: 2000;
//   border-radius: 15px;
//   > div {
//       margin-bottom: 0;
//   }
// }


p {
  margin-bottom: 10px;
  color: #909399;
  // @include setting_info_item_font_color($setting-info-item-color-white);
  font-weight: bold;
}
.info-item-product{
  padding: 0 10px;
}

