<div class="expended-application">
  <div class="nav" style="height: 50px;"></div>
  <component-manager
    ref="componentManager"
    class="component-manager"
    @on-editor-shown="handleEditorShown"
    @on-editor-close="handleEditorClose"
  >
    <template #component-list="componentList">
      <demo-list :instance="componentList"></demo-list>
    </template>
    <template #creatorRegion="componentCreator">
      <demo-creator :creator="componentCreator"></demo-creator>
    </template>
  </component-manager>
</div>
