<div class="home-container">
  <div class="navbar">
    <a href="#" class="logo">Whatever</a>
    <ul>
      <!-- <li>
        <router-link to="/quick-start" active-class="active">快速启动</router-link>
      </!-->
      <!-- <li>
        <router-link to="/expended-application" active-class="active">拓展应用</router-link>
      </!--> 
      <li>
        <router-link to="/edit" active-class="active">添加商品</router-link>
      </li>
      <li>
        <router-link to="/list" active-class="active">商品列表</router-link>
      </li>
      <li>
        <router-link to="/dynamic-page" active-class="active">购物车</router-link>
      </li>
    </ul>
  </div>
  <div class="content ">
    <router-view></router-view>
  </div>
</div>