<component-editor-launcher
  :component="editorProduct"
  :model="editorProduct.data"
  :sideControlMode="true"
  @on-finished="handleEditFinished($event)"
  @on-undo="handleEditCancel"
>
  <template #previewRegion="previewer">
    <transition name="fade">
      <demo-previewer
        :previewer="previewer"
        :options="options"
        :componentExtraInfo="componentExtraInfo"
        @on-info-validated="handlePreviewValidation"
      ></demo-previewer>
    </transition>
  </template>
</component-editor-launcher>
